<div class="jumbotron" id="purpose">
	<div class="container">
		<h2 class="center">"J’écris en anglais mais je suis heureux de recevoir vos demandes en français"</h2>
	</div>
</div>

<div class="container">
	<h1>PURPOSE</h1>
	<p>
		The purpose of this webpage is to provide general advice to French people who are interest in doing business or setting up a business in Australia.
	</p>
</div>

<div class="jumbotron" id="background">
	<div class="container">
		<h2 class="center">An Australian Chartered Accountant and a lover of French Culture</h2>
		<p class="center">
			<i class="fa fa-dollar fa-lg"></i>
		</p>
	</div>
</div>

<div class="container">
	<h1>BACKGROUND</h1>
	<p>
		My name is John Yeomans, I am an Australian Chartered Accountant with over 20 Years
		experience in Australian taxation, accounting and business advice. I am the director of KIS 
		Australia Accounting and Taxation Consultants which is a small accountancy practice located 
		in Perth Western Australia. I am also a student of the French language and have an interest in 
		French culture and lifestyle which is my motivation for providing this free service.
	</p>
</div>

<div class="jumbotron" id="your-visa">
	<div class="container">
		<h2 class="center"><a href="http://immi.gov.au">www.immi.gov.au</a></h2>
		<p class="center">
			<i class="fa fa-copy fa-lg"></i>
		</p>
	</div>
</div>

<div class="container">
	<h1>YOUR VISA</h1>
	<p>
		If you wish to operate a business or work in Australia you will need the correct visa. You 
		will find the Australian Government website <a href="http://immi.gov.au">www.immi.gov.au</a> a very helpful starting point 
		for your enquiries. If you wish to apply for a visa you can use a Registered Migration Agent 
		for your application or apply personally. Migration agents operating in Australia must be 
		registered with the Office of Migration Agents Registration Authority.
	</p>
</div>

<div class="container" id="getting-started">
	<h1>GETTING STARTED</h1>
	<p>
		Before starting a business you need to decide what type of entity you wish to use to operate 
		your business. The choices are: sole trader, partnership, private company or trust. This choice 
		is important as income tax law and business law apply differently to each of these entities. 
		You will also find that there are taxes in Australia which do not exist in France and vice-
		versa so you will want to have a basic understanding of how Australian taxation might affect 
		your business.
	</p>
</div>

<div class="jumbotron" id="business-success">
	<div class="container">
		<h2 class="center">Growing a successful Business</h2>
		<p class="center">
			<i class="fa fa-building fa-lg"></i>
		</p>
	</div>
</div>

<div class="container">
	<h1>BUSINESS SUCCESS</h1>
	<p>
		Most importantly you will want to know the likelihood of your business being a success in
		Australia. As your customers will be mostly Australian your understanding of what works in
		France may not be a good guide to what will bring you success in Australia. It will pay you to 
		familiarise yourself with what is available here and how your product or service might appeal 
		to Australians.
	</p>
</div>

<div class="container" id="contact">
	<h1>CONTACT ME</h1>
	<p>
		Please feel free to contact me via email with any queries you may have or
		for further advice. This is a free service however I would be happy to receive your enquiries 
		or referrals regarding my professional services in due course.<br>
		<a href="#"><button type="button" class="btn btn-primary btn-lg">Email Me</button></a>
	</p>
</div>