<footer>
	<div class="container">
		<div class="row center">
			<div class="col-md-4">
				<br>Contact Me<br><br>
				<div class="row">
					<div class="col-md-2"><i class="fa fa-phone"></i></div>
					<div class="col-md-10">(08) 9321 3974</div>
				</div>
				<div class="row">
					<div class="col-md-2"><i class="fa fa-fax"></i></div>
					<div class="col-md-10">(08) 9321 3419</div>
				</div>
				<div class="row">
					<div class="col-md-2"><i class="fa fa-envelope-o"></i></div>
					<div class="col-md-10"><a href="mailto:john@kisaustralia.com.au">Email John</a></div>
				</div>
			</div>

			<div class="col-md-4">
				<br>Presented by KIS Australia<br><br>
				<%= image_tag("http://photo.jgkeightley.com/JY/kislogo.jpg", :alt => "kis Logo") %>
			</div>

			<div class="col-md-4">
				<br>A JG Keightley Website - &copy; 2014<br>
				<%= image_tag("http://photo.jgkeightley.com/JY/JGHex.png", :alt => "JG Logo") %>
			</div>
		</div>

		<div class="row center">
			<br>Background image thanks to <a href="https://www.flickr.com/photos/graeme/5299190172/" target="_blank">Graeme Churchard</a>
		</div>
	</div>
</footer>