<footer>
	<div class="container">
		<div class="row center">
			<div class="col-md-4">
				Contact Me<br><br>
				<div class="row">
					<div class="col-md-2"><i class="fa fa-phone"></i></div><br>
					<div class="col-md-10">(08) 9321 3974</div><br>
				</div>
				<div class="row">
					<div class="col-md-2"><i class="fa fa-fax"></i></div><br>
					<div class="col-md-10">(08) 9321 3419</div><br>
				</div>
				<div class="row">
					<div class="col-md-2"><i class="fa fa-envelope-o"></i></div><br>
					<div class="col-md-10"><a href="mailto:john@kisaustralia.com.au">john@kisaustralia.com.au</a></div><br>
				</div>
			</div>

			<div class="col-md-4">
				Presented by Kis Australia<br><br>
				<%= image_tag("http://photo.jgkeightley.com/JY/kislogo.jpg", :alt => "kis Logo") %><br>
			</div>

			<div class="col-md-4">
				A JG Keightley Website<br>
				<%= image_tag("http://photo.jgkeightley.com/JY/JGHex.png", :alt => "JG Logo") %><br>
			</div>
		</div>
	</div>
</footer>